.avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
}

.alert {
  position: absolute;
  right: 10px;
  top: 90px;
}

.card {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  z-index: 1;
}

.title {
    padding: 30px !important;
    text-align: center;
}

.search {
  background: #ffffff;
  border: 3px solid #2ff270;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

tr th {
  color: #008d9d;
  font-weight: bold;
  font-size: 15px;
}
