.login-body {
  background: linear-gradient(104.03deg, #008d9d -24.76%, #004a51 100%, #004a51 100%);
}

.fondo {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 0;
}

.card{
  display : flex;
  flex-direction : row;
  z-index: 1;
}

.layout-logo {
  background-image: url(../../../../assets/images/logo/ceiba-logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 180px;
  width: 380px;
  margin-top: 116px;
}

.vertical {
  border-left: 1px solid #373A36;
  height: 400px;
  left: 50%;
  margin-left: 50px ;
}

.layout-from {
  margin: 54px;
}

.login-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.login-form {
  margin: 0;
}

input {
  background: #ffffff;
  border: 3px solid #2ff270;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

button {
  background: #2ff270;
  border-radius: 20px;
}
